body {
    font-family: "Crimson Text",serif;
    background-color: #F2FFFC;
}

h1,h2{
    font-family: "Open Sans Condensed",sans-serif;
}

main h1{
    color: #F2FFFC;
    background-color: #851944;
    text-align: center;
}

p{
    text-align: justify;
}

cite {
    background-color: #D9E5E3;
}

nav{
    color: #F2FFFC;
    background-color: #3C1D3D;
}

footer{
    color: #F2FFFC;
    background-color: #000;
}